<section class="movie-section continue-assistindo">

    <div class="section-header">
        <h2>Continue assistindo 🌿</h2>

        <a href="#continue-assistindo">
            Ver tudo
        </a>
    </div>


    <div class="movie-container">

        <div class="movie-card continue-1">
            <span class="movie-title">Termas do Capivari</span>
            <span class="movie-progress"></span>
        </div>

        <div class="movie-card continue-2">
            <span class="movie-title">Chuva de Amizades</span>
            <span class="movie-progress"></span>
        </div>

        <div class="movie-card continue-3">
            <span class="movie-title">Expedição Capy</span>
            <span class="movie-progress"></span>
        </div>

        <div class="movie-card continue-4">
            <span class="movie-title">Boas Noites, Capivara</span>
            <span class="movie-progress"></span>
        </div>

        <div class="movie-card continue-5">
            <span class="movie-title">Novo Filme</span>
            <span class="movie-progress"></span>
        </div>

        <button class="movie-arrow" aria-label="Próximos filmes">
            <i class="bi bi-chevron-right"></i>
        </button>

    </div>

</section>