<section class="movie-section em-alta">

    <div class="section-header">
        <h2>Em alta 🔥</h2>

        <a href="#em-alta">
            Ver tudo
        </a>
    </div>


    <div class="movie-container">

        <div class="movie-card alta-1">
            <span class="movie-title">Capy Trabalhão</span>
            <span class="movie-rating">
                ★ 4.6
            </span>
        </div>

        <div class="movie-card alta-2">
            <span class="movie-title">Risadas no Capyardim</span>
            <span class="movie-rating">
                ★ 4.7
            </span>
        </div>

        <div class="movie-card alta-3">
            <span class="movie-title">De Todo Mundo Capy</span>
            <span class="movie-rating">
                ★ 4.5
            </span>
        </div>

        <div class="movie-card alta-4">
            <span class="movie-title">Capyflix Apresenta</span>
            <span class="movie-rating">
                ★ 4.8
            </span>
        </div>

        <button class="movie-arrow" aria-label="Próximos filmes">
            <i class="bi bi-chevron-right"></i>
        </button>

    </div>

</section>