<section class="movie-section para-voce">

    <div class="section-header">
        <h2>Para você 🍊</h2>

        <a href="#para-voce">
            Ver tudo
        </a>
    </div>


    <div class="movie-container">

        <div class="movie-card para-1">
            <span class="movie-title">O Mistério da Laranja Dourada</span>
            <span class="movie-rating">
                ★ 4.8
            </span>
        </div>

        <div class="movie-card para-2">
            <span class="movie-title">Capychef: Receitas de Amor</span>
            <span class="movie-rating">
                ★ 4.7
            </span>
        </div>

        <div class="movie-card para-3">
            <span class="movie-title">A Ilha dos Capivaras</span>
            <span class="movie-rating">
                ★ 4.6
            </span>
        </div>

        <div class="movie-card para-4">
            <span class="movie-title">Capy e o Vento do Norte</span>
            <span class="movie-rating">
                ★ 4.9
            </span>
        </div>

        <button class="movie-arrow" aria-label="Próximos filmes">
            <i class="bi bi-chevron-right"></i>
        </button>

    </div>

</section>